@page "/"
<style>
    body {
        background-image: url('https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: 100% 100%;
    }
    .main-text{
        color: white;
        text-align: center;
    }
</style>
<h1 class="main-text">Welcome to MyGoogle Gallery!</h1>

