@page "/upload_photo"

<h1>Add your photo</h1>

<div class="row col-12">
    <div class="col-4">
        <img src="@ProfilePicDataUrl" style="width: 250px; height: 250px;"/>
        <br />
        <br />
        <InputFile OnChange="@OnInputFileChange"></InputFile>
    </div>
</div>

<!--<button class="btn btn-primary" >Upload from your device</button>-->

@code {

    public string ProfilePicDataUrl { get; set; }
    private async Task OnInputFileChange(InputFileChangeEventArgs inputFileChangeEvent)
    {
        var file = inputFileChangeEvent.File;

        var buffer = new byte[file.Size];

        await file.OpenReadStream().ReadAsync(buffer);

        ProfilePicDataUrl = $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
    }
}
