@page "/upload_photo"

<h1>Add your photo</h1>

<div class="row col-12">
    <div class="col-4">
       
    </div>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Upload from your device</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {

    }
}
