@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider Provider
<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar" style="background: #70A4B4; ">
                @if (@context.User.Identity.Name == "admin@gmail.com")
                {
                    <NavMenu />
                }
                else
                {
                    <UserNavMenu/>
                }

            </div>

            <div class="main">
                <div class="top-row px-4" style="background: #70A4B4; ">
                    <p class="text-dark mt-3">Welcome @context.User.Identity.Name</p>
                    <button class="btn text-dark" @onclick="Logout">Logout</button>                 

                </div>
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{
    protected void Logout()
    {
        ((TokenAuthenticationStateProvider)Provider).Logout();
        NavigationManager.NavigateTo("/", true);
    }
}
